@use '../../../styles/variables'

#about
  font-family: variables.$footer-font 
  color: #fff
  margin-top: variables.$mb-2-5

.about-container
  max-width: 100% 

.about-subtitle
  font-size: 1.3rem
  font-weight: lighter
  text-transform: uppercase

.about-title
  font-size: 2rem
  padding: 5px 0
  text-transform: uppercase

.row
  padding: 4rem 0
  max-width: 100%
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 1.5rem
  cursor: default

.seperator
  margin-bottom: 1.9rem
  width: 1.8rem 
  height: 0.2rem
  background: variables.$font-color3
  border: none
  transition: .4s  

.seperator
  margin: 0.6rem 0

.title
  text-align: center
  
.title .row
  padding: 50px 0 0
  
.item-in
  height: 14rem
  background: #111
  padding: 2.5rem
  position: relative
  border-radius: 2rem
  border: 1px solid variables.$font-color3
    
.item, .card-title-about
  font-size: 1.2rem
  margin-top: 0.7rem
  letter-spacing: 2px
  text-transform: uppercase
    
.item, .card-text
  font-size: 1rem
  margin-top: 1.5rem
  font-weight: 200
    

/*responsive*/
@media screen and (max-width: 992px) 
    .row
        column-gap: 3rem

    .item-in
      height: 18rem
    
@media screen and (max-width: 768px) 
    .row
        grid-template-columns: 1fr
        row-gap: 2rem
    
    .item-in
      height: auto

    